<%- include("header"); -%>

<style>
svg {
  height: 1.5em;
  margin: 0 2em;
}
</style>

<div class="bg-white shadow overflow-hidden sm:rounded-lg">

  <div class="px-4 py-5 sm:px-6 flex items-center justify-between flex-wrap sm:flex-nowrap">
    <h3 class="text-2xl leading-6 font-medium text-gray-900">
      <a href="/sites/<%= campaign.site_id %>">
        <%= campaign.domain %>
      </a>
    </h3>
    <div class="inline-flex">
      <a href="/campaigns/<%= campaign.id %>/edit">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
      </a>
    </div>
    <div class="inline-flex">
      <a href="/campaigns/<%= campaign.id %>/delete">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
      </a>
    </div>
  </div>

  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Review site
        </dt>
        <dd class="mt-1 text-gray-900">
          <a href="<%= campaign.reviewSiteUrl %>">
            <%= campaign.reviewSiteName %> (<%= campaign.reviewSiteUrl %>)
          </a>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Review threshold
        </dt>
        <dd class="mt-1 text-gray-900">
          <%= campaign.reviewThreshold %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Campaign start
        </dt>
        <dd class="mt-1 text-gray-900">
          <%= moment(campaign.start).format("dddd, MMMM Do YYYY") %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Campaign finish
        </dt>
        <dd class="mt-1 text-gray-900">
          <%= moment(campaign.finish).format("dddd, MMMM Do YYYY") %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Thank you text
        </dt>
        <dd class="mt-1 text-gray-900">
          <%= campaign.thankText %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Campaign active?
        </dt>
        <dd class="mt-1 text-gray-900">
          <%= (campaign.active ? "Yes" : "No") %>
        </dd>
      </div>
      <div class="sm:col-span-2">
        <span class="text-sm font-medium text-gray-700">
          Users following review link
        </span>
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto">
            <div class="py-2 align-middle inline-block min-w-full">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">
                        When
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">
                        Remote IP address
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">
                        Location
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% redirects.forEach(function(redirect){ %>
                      <tr class="bg-white">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          <%= moment(redirect.created_at).fromNow() %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                          <%= redirect.remoteIp %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                          <%= [redirect.geoIpData.city, redirect.geoIpData.country].join(", ") %>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("footer"); -%>
