<html>
  <head>
    <title>Site page</title>
  </head>
  <body>
    <p>
      <%= site.domain %>
      <%= site.reviewSiteName %>
      <%= site.reviewSiteUrl %>
      <%= site.reviewThreshold %>
      <%= site.thankText %>
    </p>
  </body>
</html>

