<%- include("header"); -%>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Site information
    </h3>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Domain
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= site.domain %>
        </dd>
      </div>
    </dl>
  </div>
  <div class="px-4 sm:p-0 py-5 sm:p-0">
    <span class="text-sm sm:px-6 font-medium text-gray-700">
      Site campaigns
    </span>
    <div class="flex flex-col sm:px-6 py-4">
      <div class="-my-2 overflow-x-auto">
        <div class="py-2 align-middle inline-block min-w-full">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">
                    Review site
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">
                    Start
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-gray-700 uppercase tracking-wider">
                    Finish
                  </th>
                </tr>
              </thead>
              <tbody>
                <% campaigns.forEach(function(campaign){ %>
                  <tr class="bg-white">
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                      <a href="/campaigns/<%= campaign.id %>">
                        <%= campaign.reviewSiteName %>
                      </a>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      <%= moment(campaign.start).fromNow() %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
                      <%= moment(campaign.finish).fromNow() %>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

<a href="/campaigns/add?site=<%= site.id %>">
  <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500">
    Add campaign
  </button>
</a>

<%- include("footer"); -%>
