<%- include("header"); -%>

<div class="container">
  <% sites.forEach(function(site){ %>
    <div class="row">
      <div class="col-sm">
        <a href="/sites/<%= site.id %>"><%= site.domain %></a>
      </div>
      <div class="col-sm">
        <%= site.reviewSiteName %>
      </div>
      <div class="col-sm">
        <%= site.reviewSiteUrl %>
      </div>
      <div class="col-sm">
        <%= site.reviewThreshold %>
      </div>
      <div class="col-sm">
        <%= site.thankText %>
      </div>
      <div class="col-sm">
        <a href="/sites/<%= site.id %>/edit">Edit this site</a>
      </div>
      <div class="col-sm">
        <a href="/sites/<%= site.id %>/delete">Delete this site</a>
      </div>
    </div>
  <% }); %>
</div>
<a href="/sites/add">Add site</a>

<%- include("footer"); -%>
